<script lang="ts">
  import { onMount } from "svelte"

  // Main Layout
  let quotes = [
    "The place where no one cares.",
    "Seriously, why the hell does this website exist.",
    "4chan is better anyway.",
    "I don't think this is a good idea.",
    "Boss, is that you?",
    "My name is Jeff.",
    "Language war? Language war.",
    "Seriously, use Rust.",
  ]

  let quote = "The place where no one cares."

  onMount(() => {
    let index = Math.floor(Math.random() * quotes.length)
    quote = quotes[index]
  })
</script>

<div class="divider">{quote}</div>
