<button class="float" on:click>
  <img src="assets/add.svg" alt="Create" />
</button>

<style lang="scss">
  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
  }
</style>
