<script lang="ts">
  import type { Pagination } from "$lib/utils"

  import { getPageRange } from "$lib/utils"
  import { createEventDispatcher } from "svelte"

  export let pagination: Pagination

  const dispatch = createEventDispatcher()
  const prev = "<"
  const next = ">"

  function changePage(page: number) {
    dispatch("change", { page: page })
  }
</script>

{#if pagination.total > 0}
  <div class="d-flex justify-content-center bottom-whitespace">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li
          class="page-item page-link is-clickable"
          on:click={() => changePage(Math.max(1, pagination.page - 1))}
        >
          {prev}
        </li>
        {#each getPageRange(pagination.page, pagination.total, 2) as p (p)}
          <li
            class="page-item page-link is-clickable {p === pagination.page
              ? 'is-current'
              : ''}"
          >
            {p}
          </li>
        {/each}
        <li
          class="page-item page-link is-clickable"
          on:click={() =>
            changePage(Math.min(pagination.total, pagination.page + 1))}
        >
          {next}
        </li>
      </ul>
    </nav>
  </div>
{/if}

<style lang="scss">
  .is-current {
    background-color: #485fc7;
    border-color: #485fc7;
    color: #fff;
  }
</style>
