<script lang="ts">
  import type { Pagination } from "$lib/utils"

  export let pagination: Pagination
  export let route: string = "front"

  const prev = "<"
  const next = ">"
</script>

{#if pagination.total > 0}
  <div class="d-flex justify-content-center bottom-whitespace">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a
            class="page-link"
            href={`/#/${route}/${Math.max(1, pagination.page - 1)}`}
          >
            {prev}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href={`/#/${route}/${pagination.page}`}>
            {pagination.page}
          </a>
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href={`/#/${route}/${Math.min(
              pagination.total,
              pagination.page + 1
            )}`}
          >
            {next}
          </a>
        </li>
      </ul>
    </nav>
  </div>
{/if}
