<div class="is-hundred p-3 background">
  <p class="has-text-centered is-size-3 title">rchan</p>
  <div class="columns">
    <a href="/#/forum/front/1" class="column has-text-centered">Front Page</a>
    <a href="/#/forum/meta" class="column has-text-centered">Meta</a>
    <a href="/#/contact" class="column has-text-centered">Contact</a>
    <a href="/#/about" class="column has-text-centered">About</a>
  </div>
</div>
