<script lang="ts">
  import { cloneDeep } from "lodash"
  import { createEventDispatcher, getContext } from "svelte"
  import {
    FormGroup,
    Input,
    Label,
    Modal,
    ModalBody,
    ModalHeader,
  } from "sveltestrap"

  import { Rchan, rchanContext } from "$lib/rchan"
  import { toastError, toastSuccess } from "$lib/toast"

  import FloatingButton from "../atom/FloatingButton.svelte"

  export let category: string
  export let parent_post_id: number | undefined = undefined

  const dispatch = createEventDispatcher()
  const rchan: Rchan = getContext(rchanContext)

  const FORM_DEFAULT: FormType = {
    title: "Anon",
    content: "",
    file: null,
  }

  let form = cloneDeep(FORM_DEFAULT)

  let isOpen = false
  function toggle() {
    isOpen = !isOpen
    if (isOpen) {
      form = cloneDeep(FORM_DEFAULT)
    }
  }

  async function createPost() {
    try {
      toggle()

      let created = await rchan.post().create(form, category, parent_post_id)

      toastSuccess(created.message)
      dispatch("success")
    } catch (error: any) {
      toastError("Can't create a post", error)
    }
  }

  interface FormType {
    title: string
    content: string
    file: null | undefined
    [k: string]: any
  }
</script>

<FloatingButton on:click={toggle} />
<Modal {isOpen} {toggle} transitionOptions={{}} size="xl">
  <ModalHeader>Create New Post</ModalHeader>
  <ModalBody>
    <form on:submit|preventDefault={createPost}>
      <FormGroup>
        <Label>Title</Label>
        <Input bind:value={form.title} />
      </FormGroup>
      <FormGroup class="mt-3">
        <Label>Content</Label>
        <textarea class="form-control" bind:value={form.content} />
      </FormGroup>
      <FormGroup class="mt-3">
        <Label>Upload Pictures</Label>
        <input class="form-control" type="file" bind:files={form.file} />
      </FormGroup>
      <FormGroup class="mt-4 d-flex justify-content-end">
        <button>create</button>
      </FormGroup>
    </form>
  </ModalBody>
</Modal>
