<script lang="ts">
  import moment from "moment"
  import { createEventDispatcher } from "svelte"
  import type { Nil } from "$lib/utils"
  import type { PostData } from "$lib/rchan/post"
  import { getRchan } from "$lib/rchan"
  import { toastError, toastSuccess } from "$lib/toast"

  export let post: PostData

  const rchan = getRchan()
  const DEFAULT_IMAGE_URL = "assets/miura-filthy-frank.jpeg"
  const dispatch = createEventDispatcher()

  // Token Management
  let token_owner: string | Nil = null

  $: {
    token_owner = rchan.post().getTokenOwner(post.id)?.token
  }

  // Post Actions
  async function deletePost() {
    if (token_owner) {
      try {
        let resp = await rchan.post().delete(post.id)
        toastSuccess(resp.message)
        dispatch("delete")
      } catch (error: any) {
        toastError("Could not delete post", error)
      }
    }
  }
</script>

<div class="box p-0 post-card no-corner">
  <div class="card-image">
    <figure class="image">
      <img
        class="no-corner"
        src={post.doc_path ? rchan.getImage(post.doc_path) : DEFAULT_IMAGE_URL}
        alt="post"
      />
    </figure>
  </div>
  <div on:click class="card-content is-clickable">
    <div class="content">
      <p class="title is-5">{post.title}</p>
      <p class="text-justified">
        {post.content}
      </p>
      <br />
      <time datetime={post.created_at}
        >{moment(post.created_at).format("LLL")}</time
      >
    </div>
  </div>
  {#if token_owner}
    <div class="d-flex justify-content-center">
      <button class="m-2" on:click={deletePost}>Delete This</button>
    </div>
  {/if}
</div>

<style lang="scss">
  .no-corner {
    border-radius: 0px;
  }

  .post-card {
    margin-top: 1rem;
  }
</style>
