<script lang="ts">
  import "./assets/css/bulma.css"
  import "@creativebulma/bulma-divider/dist/bulma-divider.css"
  import { onMount, setContext } from "svelte"
  import { SvelteToast } from "@zerodevx/svelte-toast"
  import Router from "svelte-spa-router"

  import { Rchan, rchanContext } from "$lib/rchan"
  import FrontCategory from "./components/views/FrontCategory.svelte"
  import Menubar from "./components/molecules/Menubar.svelte"
  import NotFound from "./components/views/NotFound.svelte"
  import Divider from "./components/atom/Divider.svelte"
  import PostIndex from "./components/views/PostIndex.svelte"

  // Initialize Rchan
  const rchan = new Rchan()
  setContext(rchanContext, rchan)
  const toastOptions = {}

  // Initialize anonymous
  let isLoggedAnon = false
  onMount(async () => {
    await rchan.login_anon()
    isLoggedAnon = true
  })

  // Routes
  const routes = {
    // Default Page
    "/": FrontCategory,

    // The Front Page
    "/forum/:category/:page?": FrontCategory,

    // The view for a single top post
    "/forum/:category/post/:id": PostIndex,

    // Catch-all
    // This is optional, but if present it must be the last
    "*": NotFound,
  }
</script>

<main>
  <div>
    <Menubar />
    <Divider />

    {#if isLoggedAnon}
      <Router {routes} />
    {/if}

    <SvelteToast options={toastOptions} />
  </div>
</main>
