<script lang="ts" context="module">
  const CATEGORY_FRONT = "front"
  export interface MainContentParams {
    page?: number
    category?: string
  }
</script>

<script lang="ts">
  import { getContext, onMount } from "svelte"
  import { push } from "svelte-spa-router"

  import type { Nil, Pagination } from "$lib/utils"
  import { Rchan, rchanContext } from "$lib/rchan"
  import { toastError } from "$lib/toast"

  import PostCard from "../molecules/PostCard.svelte"
  import NewPost from "../molecules/NewPost.svelte"
  import RedirectPagination from "../atom/RedirectPagination.svelte"

  const rchan: Rchan = getContext(rchanContext)

  // This is the parameter coming from the
  export let params: MainContentParams = {}

  onMount(async () => {
    await reloadPosts(params)
  })

  // Reload the post list
  let allPost: ArrayLike<any> = []
  let pagination: Pagination | Nil = null

  async function reloadPosts(p: MainContentParams) {
    try {
      let data = await rchan.post().list({
        is_top_parent: true,
        page: p.page ?? 1,
        category: params.category ?? CATEGORY_FRONT,
      })
      allPost = data.payload.data
      pagination = data.payload.pagination
    } catch (error: any) {
      toastError("Failed retreiving post", error)
    }
  }

  // React everytime params change
  $: {
    reloadPosts(params)
  }
</script>

<NewPost
  category={params.category ?? CATEGORY_FRONT}
  on:success={async () => reloadPosts(params)}
/>

<div class="columns is-multiline p-3 background mt-0 mx-1">
  {#each allPost as post (post.id)}
    <div
      class="column is-offset-1-mobile is-10-mobile is-3-tablet is-3-desktop"
    >
      <PostCard
        on:click={() =>
          push(`#/forum/${params.category ?? CATEGORY_FRONT}/post/${post.id}`)}
        on:delete={async () => reloadPosts(params)}
        {post}
      />
    </div>
  {/each}
</div>

<RedirectPagination
  route={"forum/" + (params.category ?? "front")}
  pagination={pagination ?? { total: 1, page: 1 }}
/>
