<script lang="ts">
  import { onMount } from "svelte"

  const GOOD_VIDEOS = [
    // Letting the days go by, but it's G-Man.
    "https://www.youtube.com/embed/djT_hBVbmGc",

    // Ang-ang-ang.
    "https://www.youtube.com/embed/Z6Ek3h4HTRE",

    // Dochi dochi dochi dochi
    "https://www.youtube.com/embed/vm41hDf1sx4",

    // Dragon Maid S
    "https://www.youtube.com/embed/bEb4xT8lnYU",
  ]

  let embedSrc = "https://www.youtube.com/embed/jNQXAC9IVRw"

  onMount(() => {
    let index = Math.floor(Math.random() * GOOD_VIDEOS.length)
    embedSrc = GOOD_VIDEOS[index]
  })
</script>

<section class="hero">
  <div class="hero-body">
    <p class="title has-text-centered">404 Not Found</p>
    <p class="subtitle has-text-centered">Your Page Doesn't Exist</p>
    <p class="has-text-centered">
      <iframe
        width="560"
        height="315"
        src={embedSrc}
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      />
    </p>
  </div>
</section>
