<script lang="ts" context="module">
  export interface PostIndexParams {
    id?: number
    category?: string
  }

  export interface PostWithToken extends PostData {
    token?: TokenOwnerValue
  }
</script>

<script lang="ts">
  import { push, location } from "svelte-spa-router"

  import type { PostData, TokenOwnerValue } from "$lib/rchan/post"
  import type { Pagination } from "$lib/utils"

  import { getRchan } from "$lib/rchan"
  import { toastError, toastSuccess } from "$lib/toast"

  import ManualPagination from "../atom/ManualPagination.svelte"
  import NewPost from "../molecules/NewPost.svelte"

  // This is the parameter coming from the router
  export let params: PostIndexParams = {}

  const DEFAULT_IMAGE_URL = "assets/miura-filthy-frank.jpeg"
  const rchan = getRchan()

  let parent_post: PostWithToken | undefined = undefined
  let child_posts: PostWithToken[] = []
  let child_pagination: Pagination = { page: 1, total: 1 }

  $: {
    loadPosts(params)
  }

  async function loadPosts(params: PostIndexParams) {
    getParentPost(params)
    getChildPosts(params)
  }

  async function getParentPost(params: PostIndexParams) {
    if (params.id) {
      try {
        let post = (await rchan.post().get(params.id)).payload
        parent_post = {
          ...post,
          token: rchan.post().getTokenOwner(post.id),
        }
      } catch (error: any) {
        toastError(`Failed getting post with id ${params?.id}`, error)
      }
    }
  }

  async function getChildPosts(params: PostIndexParams) {
    if (params.id) {
      try {
        let posts_data = await rchan
          .post()
          .list({ ...child_pagination, parent_post_id: params.id })

        child_posts = posts_data.payload.data.map((v) => {
          return {
            ...v,
            token: rchan.post().getTokenOwner(v.id),
          }
        })

        child_pagination = posts_data.payload.pagination
      } catch (error: any) {
        toastError(
          `Failed getting child posts with parent id ${params?.id}`,
          error
        )
      }
    }
  }

  async function deletePost(id: number, redirect: boolean = false) {
    try {
      await rchan.post().delete(id)
      toastSuccess("Successfully deleting your post")
      await loadPosts(params)

      if (redirect) {
        push("/")
      }
    } catch (error: any) {
      toastError(`Failed getting child posts with id ${id}`, error)
    }
  }
</script>

<div class="columns box mx-4 mb-5">
  <div class="column is-2">
    <img
      class="no-corner"
      src={parent_post?.doc_path
        ? rchan.getImage(parent_post.doc_path)
        : DEFAULT_IMAGE_URL}
      alt="post"
    />
  </div>
  <div class="column">
    <p>
      {parent_post?.title}
    </p>
    <p>
      {parent_post?.content}
    </p>
  </div>
  {#if parent_post?.token}
    <div class="column is-narrow">
      <button
        class="button is-white"
        on:click={() => parent_post && deletePost(parent_post.id, true)}
      >
        <img src="assets/trash.svg" alt="Trash" />
      </button>
    </div>
  {/if}
</div>

<div class="columns mx-4">
  <div class="column">
    {#each child_posts as post (post.id)}
      <div class="columns box mb-4">
        <div class="column is-2">
          <img
            class="no-corner"
            src={post.doc_path
              ? rchan.getImage(post.doc_path)
              : DEFAULT_IMAGE_URL}
            alt="post"
          />
        </div>
        <div class="column">
          <p>
            {post?.title}
          </p>
          <p>
            {post?.content}
          </p>
        </div>
        {#if post.token}
          <div class="column is-narrow">
            <button
              class="button is-white"
              on:click={() => deletePost(post.id)}
            >
              <img src="assets/trash.svg" alt="Trash" />
            </button>
          </div>
        {/if}
      </div>
    {/each}
  </div>
</div>

<ManualPagination
  pagination={child_pagination}
  on:change={(e) => {
    child_pagination = { ...child_pagination, page: e.detail.page }
    getChildPosts(params)
  }}
/>

<NewPost
  category={params.category ?? "front"}
  parent_post_id={parent_post?.id}
  on:success={async () => loadPosts(params)}
/>
